    /* Default for phones: 1 column */
    .grid-container {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 16px;
    }

    /* For tablets and desktops: 3 columns */
    @media (min-width: 768px) {
        .grid-container {
            grid-template-columns: repeat(3, 1fr);
    }

a.bg-image1 {
    background-image: url('/NotreArms/Series I/Series1.png');
    background-size: cover;
    background-position: center;
    color: white; /* Changes text color if the image is dark */
}
/* Optional: Adjust hover behavior for these specific buttons */
a.bg-image:hover {
    background-image: linear-gradient(rgba(0,102,204,0.8), rgba(0,102,204,0.8)), url('your-image-url.jpg');
}

a.bg-image2 {
    background-image: url('/NotreArms/Series II/Series2.png');
    background-size: cover;
    background-position: center;
    color: white; /* Changes text color if the image is dark */
}
/* Optional: Adjust hover behavior for these specific buttons */
a.bg-image:hover {
    background-image: linear-gradient(rgba(0,102,204,0.8), rgba(0,102,204,0.8)), url('your-image-url.jpg');
}
